{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-12" id="header-game">
            <div id="dieux-info" class="col-sm-3"></div>
            <h1 class="col-sm-6 text-center game-title">Elusis</h1>
            <div id="joueur-info" class="col-sm-3"></div>
        </div>
        <div class="col-sm-12" id="body-game">

            <!-- regroupe tous les composants du plateau de jeu -->
            <div id="game-element">
                <div class="col-sm-8" id="true-card">

                </div>
                <div class="col-sm-8" id="false-card"></div>
            </div>


            <!-- regroupe tous les composant de connection de connection -->
            <div id="connect-element">
                <!-- Button trigger modal de connection -->
                <button type="button" id="start-btn" class="btn btn-primary col-sm-offset-3 col-sm-6 start-btn" data-toggle="modal" data-target="#connect-modal">
                    Lancer une partie
                </button>

                <div id="loader" class="col-sm-10 col-sm-offset-1 text-center">
                    <h1 id="msg-loader">Merci de patienter pendant que d'autres joueurs rejoignent la partie</h1>
                    <img class="col-sm-3 col-sm-offset-5" src="{{ asset('bundles/AppBundle/img/spin.gif') }}">
                </div>

                <!-- Modal de connection -->
                <div class="modal fade" id="connect-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Se connecter une partie d'Eleusis</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Veuillez entrez votre pseudo : </label>
                                <input type="text" id="player-name"/>
                            </div>
                            <div class="modal-footer">
                                <button id="connect"  type="button" class="btn btn-primary">connexion</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/AppBundle/js/GameController.js') }}"></script>
{% endblock %}